html, body {
    width: 100%;
    height: 100%;
}

#map-container {
    position: relative;
    width: 100%;
    height: 97%;
}

.map, .map-col, .map-row {
    height: 100%;
}

#map-container #map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#list ul li:hover { cursor: pointer; }

.navbar-brand img {
    float: left;
    position: relative;
}

#ussr {
    top: -13px;
}

#ukraine {
    top: -6px;
    padding-left: 8px;
    padding-right: 11px;
}

.popover {
    width: 400px;
}
